@import "game.sass"

html
  box-sizing: border-box
  background: #ffc600
  font-family: 'helvetica neue'
  font-size: 1.666667%
  font-weight: 16.666667%

body
  margin: 0

*
  box-sizing: inherit

  &:before, &:after
    box-sizing: inherit